.flag-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.country-flag {
    max-width: 200px;
    max-height: 150px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ip-location-card {
    margin: 16px;
    max-width: 400px;
}
.location-details {
    display: flex;
    flex-direction: column;
}
.loading {
    text-align: center;
    color: #000000;
}

.a{
    margin-right: 15px;
}

.action-button {
    font-size: large;
  }