<app-side-navigation-bar></app-side-navigation-bar>
<mat-form-field>
      <mat-label>Enter IP Address</mat-label>
      <input matInput #ipInput>
      <button mat-icon-button (click)="addIpAddress(ipInput.value)">
        <mat-icon>add</mat-icon>
      </button>
</mat-form-field>
<app-ip-location-card 
      *ngFor="let ip of ipAddresses" 
      [ipLocation]="{
        ip: ip,
        continent_name: '',
        country_name: '',
        region_name: '',
        city: '',
        latitude: 0,
        longitude: 0,
        country_flag: ''
      }"
    ></app-ip-location-card>
<app-footer-content></app-footer-content>
